In [1]:
import requests 
import time
import sys
import pandas as pd
import numpy as np
from config import stocks_api

In [2]:
nasdaq = pd.read_csv("Resources/nasdaq_screener_1650145895697.csv") # Read Nasdaq csv
notdaq = pd.read_csv("Resources/not_nasdaq.csv") # Elements that aren't in Nasdaq, continually appended 

nasdaq_tickers = nasdaq["Symbol"] # Create list of unique nasdaq tickers
not_nasdaq_tickers = notdaq["0"].tolist() # Create list of not nasdaq tickers
nasdaq_tickers = [ticker for ticker in nasdaq_tickers # Remove not nasdaq tickers from list
                  if(ticker not in not_nasdaq_tickers)]

nasdaq_data = [] # Empty list to hold our dictionary
nasdaq_null = [] # List to hold null values 

time_span = input("Select a Time Span (minute, hour, day, week, month, quarter, year): ")
multiplier = input("Multiple of Time Span: ")
start_date = input("Start Date (year-mo-da): ")
end_date = input("End Date (year-mo-da): ")

with open('inputs.py', 'w') as f: # Write variables to the file inputs.py
    sys.stdout = f 
    print(f'time_span = "{time_span}" \nmultiplier = "{multiplier}" \nstart_date = "{start_date}" \nend_date = "{end_date}" \n')
    sys.stdout = sys.stdout 

# Create counters.
record_count = 1
set_count = 1

Select a Time Span (minute, hour, day, week, month, quarter, year): day
Multiple of Time Span: 1
Start Date (year-mo-da): 2022-03-24
End Date (year-mo-da): 2022-03-30

In [3]:
for ticker in nasdaq_tickers:
 
    try:
        url = f"https://api.polygon.io/v2/aggs/ticker/{ticker}/range/{multiplier}/{time_span}/{start_date}/{end_date}?adjusted=true&sort=asc&limit=120&apiKey=" + stocks_api
        ticker_request = requests.get(url)    
        ticker_data = ticker_request.json()
        
        volume = []
        volume_weighted_average = []
        open_price = []
        close_price = []
        max_price = []
        lowest_price = []
        unix_time = []
        number_of_transactions = []

        for j in range(len(ticker_data["results"])):
            volume.append(ticker_data["results"][j]["v"])
            volume_weighted_average.append(ticker_data["results"][j]["vw"])
            open_price.append(ticker_data["results"][j]["o"])
            close_price.append(ticker_data["results"][j]["c"])
            max_price.append(ticker_data["results"][j]["h"])
            lowest_price.append(ticker_data["results"][j]["l"])
            unix_time.append(ticker_data["results"][j]["t"])
            number_of_transactions.append(ticker_data["results"][j]["n"])
    
    
    
        nasdaq_data.append({"Tickers": ticker, 
                            "Volume": volume,
                            "Volume Weighted Average": volume_weighted_average,
                            "Open Price": open_price,
                            "Close Price": close_price,
                            "Max Price": max_price,
                            "Lowest Price": lowest_price,
                            "Unix Time": unix_time,
                            "Number of Transactions": number_of_transactions})

    except:
        print(f"The Ticker, " + ticker + " is unavailible")
        nasdaq_null.append(ticker)
        nasdaq_null_df = pd.DataFrame(nasdaq_null)
        nasdaq_null_df.to_csv("Resources/not_nasdaq_new.csv", index_label="Tickers")
               
        pass
    
    time.sleep(12) # Free subscription only allows for 5 requests a minute

The Ticker, ACEVU is unavailible
The Ticker, AFACU is unavailible
The Ticker, AFACW is unavailible
The Ticker, ASAXW is unavailible
The Ticker, AURCU is unavailible
The Ticker, BENEU is unavailible
The Ticker, BHACU is unavailible
The Ticker, BOCN is unavailible
The Ticker, BRLIU is unavailible
The Ticker, BYTSW is unavailible
The Ticker, CCTSU is unavailible
The Ticker, CCTSW is unavailible
The Ticker, CENQU is unavailible
The Ticker, CITEW is unavailible
The Ticker, CLAQR is unavailible
The Ticker, CLAY is unavailible
The Ticker, CLOEU is unavailible
The Ticker, CLRMU is unavailible
The Ticker, DPCSU is unavailible
The Ticker, DSACU is unavailible
The Ticker, DSACW is unavailible
The Ticker, DTOCU is unavailible
The Ticker, EUCRU is unavailible
The Ticker, FATBW is unavailible
The Ticker, FTIIU is unavailible
The Ticker, GACQU is unavailible
The Ticker, GDNR is unavailible
The Ticker, GENQU is unavailible
The Ticker, GLEEU is unavailible
The Ticker, GVCIW is unavailible
The Ticker, HAIAW is unavailible
The Ticker, HCVIW is unavailible
The Ticker, HORIU is unavailible
The Ticker, IGTAU is unavailible
The Ticker, IVCPW is unavailible
The Ticker, JBK is unavailible
The Ticker, JWAC is unavailible
The Ticker, LSXMB is unavailible
The Ticker, LVACU is unavailible
The Ticker, MCAFR is unavailible
The Ticker, MDRRP is unavailible
The Ticker, NPABU is unavailible
The Ticker, OFSSH is unavailible
The Ticker, OXUSU is unavailible
The Ticker, PAFO is unavailible
The Ticker, PAFOR is unavailible
The Ticker, PCCT is unavailible
The Ticker, PHICU is unavailible
The Ticker, PMGMU is unavailible
The Ticker, PPHP is unavailible
The Ticker, RCON is unavailible
The Ticker, SENEB is unavailible
The Ticker, SHCA is unavailible
The Ticker, SZZLW is unavailible
The Ticker, TOAC is unavailible
The Ticker, VENAR is unavailible

In [4]:
nasdaq_df = pd.DataFrame(nasdaq_data)
output_data_file = "Resources/Nasdaq_data.csv"

nasdaq_df.to_csv(output_data_file, index_label="Ticker number")
nasdaq_df

,Tickers,Volume,Volume Weighted Average,Open Price,Close Price,Max Price,Lowest Price,Unix Time,Number of Transactions
0,A,"[1346742.0, 1403732.0, 1568085.0, 1608646.0, 1...","[135.3507, 135.1972, 135.2873, 138.3199, 135.8...","[134.89, 137.3, 136.25, 138.22, 137.93]","[136.41, 135.71, 135.42, 138.42, 135.46]","[136.58, 137.66, 137.25, 139.32, 138.215]","[133.59, 133.7, 134.46, 137.21, 134.52]","[1648094400000, 1648180800000, 1648440000000, ...","[17127, 23526, 25806, 24675, 25955]"
1,AA,"[7323274.0, 6039434.0, 5111285.0, 7530657.0, 5...","[93.5575, 93.0578, 91.5145, 88.1407, 92.1627]","[91.65, 95.89, 90.64, 86.5, 92.6]","[95.06, 91.96, 92.46, 90.07, 92.19]","[95.44, 98.09, 92.87, 90.1, 93.99]","[91.39, 91.02, 88.11, 84.1295, 90.96]","[1648094400000, 1648180800000, 1648440000000, ...","[79234, 67250, 55764, 86795, 58465]"
2,AAC,"[526327, 3176, 13209, 200607, 315094]","[9.7744, 9.7804, 9.7795, 9.7742, 9.7981]","[9.79, 9.78, 9.78, 9.79, 9.77]","[9.79, 9.78, 9.78, 9.78, 9.8]","[9.8, 9.78, 9.785, 9.79, 9.805]","[9.765, 9.78, 9.77, 9.77, 9.77]","[1648094400000, 1648180800000, 1648440000000, ...","[1197, 101, 212, 773, 206]"
3,AACG,"[17517, 13776, 31845, 15178, 30959]","[1.4375, 1.458, 1.3686, 1.3768, 1.3936]","[1.44, 1.42, 1.45, 1.34, 1.39]","[1.44, 1.45, 1.35, 1.37, 1.4]","[1.46, 1.52, 1.4644, 1.4, 1.42]","[1.41, 1.42, 1.31, 1.34, 1.33]","[1648094400000, 1648180800000, 1648440000000, ...","[83, 172, 219, 127, 229]"
4,AACI,"[2736, 221]","[9.8496, 9.8713]","[9.8329, 9.8708]","[9.87, 9.8708]","[9.87, 9.8708]","[9.8329, 9.8708]","[1648180800000, 1648526400000]","[15, 4]"
...,...,...,...,...,...,...,...,...,...
7779,ZWS,"[900755, 443380, 636702, 661535, 923885]","[35.7106, 35.5214, 34.7378, 35.6761, 35.8832]","[35.95, 35.48, 35.23, 35.34, 35.73]","[35.54, 35.5, 34.68, 35.88, 35.97]","[36.14, 35.7587, 35.23, 35.96, 36.14]","[35.42, 35.21, 34.42, 34.96, 35.06]","[1648094400000, 1648180800000, 1648440000000, ...","[10468, 7336, 8812, 10125, 11636]"
7780,ZY,"[792208, 728827, 867886, 884984, 958791]","[3.2111, 3.1036, 2.8913, 3.0386, 3.0899]","[3.41, 3.18, 3.06, 2.96, 3.07]","[3.2, 3.06, 2.88, 3.08, 3.02]","[3.45, 3.21, 3.09, 3.16, 3.25]","[3.145, 3.04, 2.77, 2.93, 2.97]","[1648094400000, 1648180800000, 1648440000000, ...","[6094, 5670, 6470, 7138, 6993]"
7781,ZYME,"[727753, 625628, 714753, 612892, 797311]","[7.3356, 7.0943, 6.9052, 6.906, 6.7696]","[7.49, 7.34, 6.98, 7.05, 6.79]","[7.38, 7, 6.94, 6.75, 6.57]","[7.5, 7.34, 7.25, 7.23, 7.02]","[7.03, 6.91, 6.66, 6.71, 6.46]","[1648094400000, 1648180800000, 1648440000000, ...","[6340, 6152, 5744, 5410, 6829]"
7782,ZYNE,"[640270, 869633, 568273, 477351, 811102]","[2.1106, 2.1183, 2.0746, 2.1153, 2.1992]","[2, 2.18, 2.1, 2.08, 2.17]","[2.1, 2.09, 2.06, 2.14, 2.15]","[2.12, 2.2399, 2.1385, 2.15, 2.28]","[1.99, 2.06, 2.04, 2.08, 2.105]","[1648094400000, 1648180800000, 1648440000000, ...","[3544, 5171, 4598, 3286, 5655]"
7783,ZYXI,"[344834, 342415, 374455, 365635, 212815]","[6.2927, 6.3188, 6.2799, 6.1294, 6.0857]","[6.26, 6.36, 6.3, 6.37, 6.06]","[6.36, 6.32, 6.18, 6.13, 6.06]","[6.41, 6.47, 6.61, 6.37, 6.24]","[6.14, 6.19, 6.055, 6.06, 5.96]","[1648094400000, 1648180800000, 1648440000000, ...","[4337, 4785, 4511, 5080, 3198]"