In [1]:
import requests 
import time
import pandas as pd
import numpy as np
from config import stocks_api

In [2]:
nasdaq = pd.read_csv("Resources/nasdaq_screener_1650145895697.csv") # Read Nasdaq csv
nasdaq_tickers = nasdaq["Symbol"] # Create list of unique nasdaq tickers
nasdaq_data = [] # Empty list to hold our dictionary

time_span = "day" #time_span = input()
multiplier = "1" # time_span_multiplier = input()
time_span = "day" #time_span = input()
start_date = "2020-06-01" #start_date = input()
end_date = "2020-06-17" #end_date = input()

# Create counters.
record_count = 1
set_count = 1

In [3]:
for ticker in nasdaq_tickers:
 
    try:
        url = "https://api.polygon.io/v2/aggs/ticker/" + ticker + "/range/" + multiplier + "/" + time_span + "/" + start_date + "/" + end_date + "?adjusted=true&sort=asc&limit=120&apiKey=" + stocks_api
        ticker_request = requests.get(url)    
        ticker_data = ticker_request.json()
        
        volume = []
        volume_weighted_average = []
        open_price = []
        close_price = []
        max_price = []
        lowest_price = []
        unix_time = []
        number_of_transactions = []

        for j in range(len(ticker_data["results"])):
            volume.append(ticker_data["results"][j]["v"])
            volume_weighted_average.append(ticker_data["results"][j]["vw"])
            open_price.append(ticker_data["results"][j]["o"])
            close_price.append(ticker_data["results"][j]["c"])
            max_price.append(ticker_data["results"][j]["h"])
            lowest_price.append(ticker_data["results"][j]["l"])
            unix_time.append(ticker_data["results"][j]["t"])
            number_of_transactions.append(ticker_data["results"][j]["n"])
    
    
    
        nasdaq_data.append({"Tickers": ticker, 
                            "Volume": volume,
                            "Volume Weighted Average": volume_weighted_average,
                            "Open Price": open_price,
                            "Close Price": close_price,
                            "Max Price": max_price,
                            "Lowest Price": lowest_price,
                            "Unix Time": unix_time,
                            "Number of Transactions": number_of_transactions})

    except:
        print(f"The Ticker, " + ticker + " is unavailible")
        
        pass
    
    time.sleep(12) # Free subscription only allows for 5 requests a minute

The Ticker, AAC is unavailible

KeyboardInterrupt:

In [4]:
nasdaq_df = pd.DataFrame(nasdaq_data)
output_data_file = "Resources/Nasdaq_data.csv"

nasdaq_df.head(10)
#nasdaq_df.to_csv(output_data_file, index_label="City_ID")

,Tickers,Volume,Volume Weighted Average,Open Price,Close Price,Max Price,Lowest Price,Unix Time,Number of Transactions
0,A,"[2504902.0, 1704291.0, 1395470.0, 2245679.0, 2...","[89.5457, 90.045, 90.6636, 91.1183, 91.1655, 9...","[88.04, 90, 90.65, 89.82, 92.13, 89.31, 90.09,...","[89.91, 90.29, 90.49, 91.14, 90.38, 90.29, 89....","[89.98, 90.63, 91.14, 91.74, 93.04, 90.589, 90...","[87.94, 89.11, 90.26, 89.815, 90.09, 89.06, 89...","[1590984000000, 1591070400000, 1591156800000, ...","[22455, 18725, 16385, 19842, 34246, 15197, 176..."
1,AA,"[5612145.0, 6320835.0, 8793106.0, 11533486.0, ...","[9.4667, 9.8901, 10.5796, 11.2905, 12.2442, 12...","[9.21, 9.62, 10.2, 10.85, 12.69, 12.7, 12.38, ...","[9.49, 9.92, 10.77, 11.64, 12.07, 12.98, 12.59...","[9.645, 10.04, 10.89, 11.65, 13.86, 13.04, 12....","[9.15, 9.62, 10.085, 10.575, 11.57, 12.3, 12.0...","[1590984000000, 1591070400000, 1591156800000, ...","[27809, 30443, 39445, 53007, 95154, 57874, 460..."