In [1]:
%matplotlib inline
import requests 
import time
import datetime as dt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
nasdaq_data = pd.read_csv("Resources/Nasdaq_data.csv")
nasdaq_data.head()

,Ticker number,Tickers,Volume,Volume Weighted Average,Open Price,Close Price,Max Price,Lowest Price,Unix Time,Number of Transactions
0,0,A,"[1346742.0, 1403732.0, 1568085.0]","[135.3507, 135.1972, 135.2873]","[134.89, 137.3, 136.25]","[136.41, 135.71, 135.42]","[136.58, 137.66, 137.25]","[133.59, 133.7, 134.46]","[1648094400000, 1648180800000, 1648440000000]","[17127, 23526, 25806]"
1,1,AA,"[7323274.0, 6039434.0, 5111285.0]","[93.5575, 93.0578, 91.5145]","[91.65, 95.89, 90.64]","[95.06, 91.96, 92.46]","[95.44, 98.09, 92.87]","[91.39, 91.02, 88.11]","[1648094400000, 1648180800000, 1648440000000]","[79234, 67250, 55764]"
2,2,AAC,"[526327, 3176, 13209]","[9.7744, 9.7804, 9.7795]","[9.79, 9.78, 9.78]","[9.79, 9.78, 9.78]","[9.8, 9.78, 9.785]","[9.765, 9.78, 9.77]","[1648094400000, 1648180800000, 1648440000000]","[1197, 101, 212]"
3,3,AACG,"[17517, 13776, 31845]","[1.4375, 1.458, 1.3686]","[1.44, 1.42, 1.45]","[1.44, 1.45, 1.35]","[1.46, 1.52, 1.4644]","[1.41, 1.42, 1.31]","[1648094400000, 1648180800000, 1648440000000]","[83, 172, 219]"
4,4,AACI,[2736],[9.8496],[9.8329],[9.87],[9.87],[9.8329],[1648180800000],[15]

In [3]:
Nasdaq_dataframe = []
for i in range(len(nasdaq_data)):
    ticker = nasdaq_data["Tickers"][i]

    volume_list = nasdaq_data["Volume"][i].strip('][').split(', ') # Convert strings of lists to list
    volume_weighted_average_list = nasdaq_data["Volume Weighted Average"][0].strip('][').split(', ')
    open_price_list = nasdaq_data["Open Price"][i].strip('][').split(', ')
    close_price_list = nasdaq_data["Close Price"][i].strip('][').split(', ')
    max_price_list = nasdaq_data["Max Price"][i].strip('][').split(', ')
    lowest_price_list = nasdaq_data["Lowest Price"][i].strip('][').split(', ')
    unix_time_list = nasdaq_data["Unix Time"][i].strip('][').split(', ')
    number_of_transactions_list = nasdaq_data["Number of Transactions"][i].strip('][').split(', ')
    Week_Performance_list = []

    for j in range(len(volume_list)): # Convert data type for each string in the list
        volume_list[j] = int(float(volume_list[j]))
        volume_weighted_average_list[j] = float(volume_weighted_average_list[j])
        open_price_list[j] = float(open_price_list[j])
        close_price_list[j] = float(close_price_list[j])
        max_price_list[j] = float(max_price_list[j])
        lowest_price_list[j] = float(lowest_price_list[j])
        unix_time_list[j] = int(float(unix_time_list[j]) / 1000)
        Week_Performance_list.append((close_price_list[j] - open_price_list[j])/open_price_list[j])
        unix_time_list[j] = dt.datetime.fromtimestamp(unix_time_list[j])

    # Create metrics
    if len(Week_Performance_list) > 4:
        Monday_Performance = Week_Performance_list[0]
        Monday_Volume = number_of_transactions_list[0]    

        Tuesday_Performance = Week_Performance_list[1]
        Tuesday_Volume = number_of_transactions_list[1]    

        Wednesday_Performance = Week_Performance_list[2]
        Wednesday_Volume = number_of_transactions_list[2]    

        Thursday_Performance = Week_Performance_list[3]
        Thursday_Volume = number_of_transactions_list[3]    

        Friday_Performance = Week_Performance_list[4]
        Friday_Volume = number_of_transactions_list[4]

        Week_Performance = (close_price_list[4] - open_price_list[0])/open_price_list[0]
        Weekly_Volume = Monday_Volume + Tuesday_Volume + Wednesday_Volume + Thursday_Volume + Friday_Volume
        Week_High = max(max_price_list)
        Week_Low = min(lowest_price_list)
        Best_Day = max(Week_Performance_list)
        Worst_Day = min(Week_Performance_list)
        
    elif len(Week_Performance_list) > 3:
        Monday_Performance = Week_Performance_list[0]
        Monday_Volume = number_of_transactions_list[0]    

        Tuesday_Performance = Week_Performance_list[1]
        Tuesday_Volume = number_of_transactions_list[1]    

        Wednesday_Performance = Week_Performance_list[2]
        Wednesday_Volume = number_of_transactions_list[2]    

        Friday_Performance = Week_Performance_list[3]
        Friday_Volume = number_of_transactions_list[3]

        Week_Performance = (close_price_list[3] - open_price_list[0])/open_price_list[0]
        Weekly_Volume = Monday_Volume + Tuesday_Volume + Wednesday_Volume + Friday_Volume
        Week_High = max(max_price_list)
        Week_Low = min(lowest_price_list)
        Best_Day = max(Week_Performance_list)
        Worst_Day = min(Week_Performance_list)
        
    elif len(Week_Performance_list) > 2:
        Monday_Performance = Week_Performance_list[0]
        Monday_Volume = number_of_transactions_list[0]    

        Wednesday_Performance = Week_Performance_list[1]
        Wednesday_Volume = number_of_transactions_list[1]    

        Friday_Performance = Week_Performance_list[2]
        Friday_Volume = number_of_transactions_list[2]

        Week_Performance = (close_price_list[2] - open_price_list[0])/open_price_list[0]
        Weekly_Volume = Monday_Volume + Wednesday_Volume + Friday_Volume
        Week_High = max(max_price_list)
        Week_Low = min(lowest_price_list)
        Best_Day = max(Week_Performance_list)
        Worst_Day = min(Week_Performance_list) 
        
    elif len(Week_Performance_list) > 1:
        Monday_Performance = Week_Performance_list[0]
        Monday_Volume = number_of_transactions_list[0]    

        Friday_Performance = Week_Performance_list[1]
        Friday_Volume = number_of_transactions_list[1]

        Week_Performance = (close_price_list[1] - open_price_list[0])/open_price_list[0]
        Weekly_Volume = Monday_Volume + Friday_Volume
        Week_High = max(max_price_list)
        Week_Low = min(lowest_price_list)
        Best_Day = max(Week_Performance_list)
        Worst_Day = min(Week_Performance_list) 
        
    else:
        Week_Performance = Week_Performance_list[0]
        Weekly_Volume = number_of_transactions_list[0]
        Week_High = max_price_list[0]  
        Week_Low = Week_High
        Best_Day = Week_High
        Worst_Day = Week_High
     
    Nasdaq_dataframe.append({"Ticker": ticker, # Append Nasdaq data
                             "Week's Performance": Week_Performance,
                             "Highest Price": Week_High,
                             "Lowest Price": Week_Low,
                             "Best Day": Best_Day,
                             "Worst Day": Worst_Day,
                             "Week's Volume": Weekly_Volume})

In [4]:
from inputs import start_date, end_date

Nasdaq_dataframe = pd.DataFrame(Nasdaq_dataframe).sort_values(by = "Week's Performance", ascending=False)
output_data_file = f"Analysis/Nasdaq_data_cleaned_{start_date}_{end_date}.csv"

# Format the columns.
Nasdaq_dataframe["Week's Performance"] = Nasdaq_dataframe["Week's Performance"].map("{:.3%}".format)
Nasdaq_dataframe["Highest Price"] = Nasdaq_dataframe["Highest Price"].map("${:.2f}".format)
Nasdaq_dataframe["Lowest Price"] = Nasdaq_dataframe["Lowest Price"].map("${:.2f}".format)
Nasdaq_dataframe["Best Day"] = Nasdaq_dataframe["Best Day"].map("{:.3%}".format)
Nasdaq_dataframe["Worst Day"] = Nasdaq_dataframe["Worst Day"].map("{:.3%}".format)
Nasdaq_dataframe = Nasdaq_dataframe.loc[(int(Ticker) >= 2000000 for Ticker in Nasdaq_dataframe["Week's Volume"])]

Nasdaq_dataframe.to_csv(output_data_file, index_label="Ticker number")
Nasdaq_dataframe.head()

,Ticker,Week's Performance,Highest Price,Lowest Price,Best Day,Worst Day,Week's Volume
54,ACB,10.243%,$4.56,$3.53,8.895%,-4.662%,5403210841549130
9,AAL,6.070%,$17.44,$16.10,2.514%,0.174%,101431132714106278
10,AAMC,5.122%,$15.72,$14.10,7.254%,-1.457%,16540392
30,ABEV,4.795%,$3.08,$2.90,2.389%,0.000%,318741841124139
28,ABCM,3.627%,$18.61,$17.74,3.917%,0.558%,175115962769

In [5]:
Smallest_Winners = Nasdaq_dataframe.loc[(Nasdaq_dataframe["Week's Performance"] >= "0")
                                       ].sort_values(by = "Week's Performance")
output_data_file = f"Analysis/Smallest_Winners_data_{start_date}_{end_date}.csv"

Smallest_Winners.to_csv(output_data_file, index_label="Ticker number")
Smallest_Winners.head()

,Ticker,Week's Performance,Highest Price,Lowest Price,Best Day,Worst Day,Week's Volume
39,ABSI,0.132%,$8.39,$7.38,9.894%,-7.563%,831875933981
26,ABCB,0.158%,$45.49,$43.56,0.904%,-1.358%,582058015373
59,ACCO,0.245%,$8.29,$8.04,0.245%,0.122%,573634213763
0,A,0.393%,$137.66,$133.59,1.127%,-1.158%,171272352625806
22,AB,0.832%,$46.25,$45.37,0.044%,-0.130%,196914512332

In [6]:
Smallest_Loosers = Nasdaq_dataframe.loc[(Nasdaq_dataframe["Week's Performance"] < "0")
                                       ].sort_values(by = "Week's Performance")
output_data_file = f"Analysis/Smallest_Loosers_{start_date}_{end_date}.csv"

Smallest_Loosers.to_csv(output_data_file, index_label="Ticker number")
Smallest_Loosers.head()

,Ticker,Week's Performance,Highest Price,Lowest Price,Best Day,Worst Day,Week's Volume
75,ACII,-0.051%,$9.79,$9.75,0.051%,-0.051%,4212215
2,AAC,-0.102%,$9.80,$9.77,0.000%,0.000%,1197101212
27,ABCL,-0.158%,$9.83,$9.19,2.157%,-2.950%,125761787413050
77,ACIW,-0.429%,$33.53,$32.05,0.154%,-0.215%,677058575248
68,ACGLO,-0.459%,$24.04,$23.71,0.126%,-0.793%,373352142